/*TODO-css:可设置一个公共的存放路径*/
@import "../../../static/css/normalize.css";

html, body {
    background: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}